html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.vimeo-wrapper,
.vimeo {
  width: 100vw;
  height: 100vh;
}

.vimeo-image {
  background-position: center top;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.play-pause-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 99;
}

.video-player {
  width: 640px;
  margin: 0 auto;
  text-align: center;
}
.video-player video {
  width: 100%;
}
.video-player .controls {
  margin-top: 20px;
}
.video-player .controls input[type="range"] {
  width: 100%;
}

/** Generic classes for video tag */
.native-video {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

iframe {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: block;
}

iframe body {
  display: block !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
